<p>
  <a href="/oauth2authorize">Login</a>
</p>

<p>
  Access token: <%= session[:access_token] %>
</p>
<p>
  Your session expires in <%= token.expires_in.to_i %> seconds. <a href="/refresh">Click here</a> if you'd like to extend it.
</p>
