<% if session[:oauth2] %>
  <p>
    <b>Success!</b><br />
    <a href="/logout">Logout</a><br />
    <a href="/refresh">Refresh</a>
  </p>
<% else %>
  <p>
    <a href="/oauth2authorize">Login</a>
  </p>
<% end %>

<%= erb :pretty_json, locals: { hash: session[:oauth2] } %>
