<p><b>Success! </b></p>

<% if session[:access_token] %>
  <p>
    <a href="/logout">Logout</a>
  </p>

  <p>
    Access token: <%= session[:access_token] %>
  </p>
  <p>
    Your session expires in <%= token.expires_in.to_i %> seconds. <a href="/refresh">Click here</a> if you'd like to extend it.
  </p>
<% end %>
